server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:

    username: user_user
    password: user_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.zjsu.user-service: INFO

