server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/order_db?useSSL=false&serverTimezone=UTC
    username: order_user
    password: order_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# 课程服务地址（Docker环境）
product-service:
  url: ${PRODUCT_SERVICE_URL:http://product-service:8082}

user-service:
  url: ${USER_SERVICE_URL:http://user-service:8081}

logging:
  level:
    com.zjsu.order: INFO

