server:
  port: 8082

spring:
    application:
      name: product-service

    datasource:
      url: jdbc:mysql://localhost:3306/product_db?useSSL=false&serverTimezone=UTC
      username: product_user
      password: product_pass

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true

logging:
  level:
    com.zjsu.product: INFO

inventory-service:
  url: ${INVENTORY_SERVICE_URL:http://inventory-service:8084}
