server:
  port: 8082

spring:
    application:
      name: product-service

    datasource:
      url: jdbc:mysql://localhost:3306/product_db?useSSL=false&serverTimezone=UTC
      username: product_user
      password: product_pass

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true

    cloud:
      nacos:
        discovery:
          server-addr: nacos:8848
          #        namespace: dev
          #        group: COURSEHUB_GROUP
          ephemeral: true
          heart-beat-interval: 5000
          heart-beat-timeout: 15000

logging:
  level:
    com.zjsu.product: INFO


management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
