server:
  port: 8082

spring:
  application:
    name: product-service

  datasource:
    url: ${DB_URL:jdbc:mysql://product-db:3306/product_db?useSSL=false&serverTimezone=UTC}
    username: ${DB_USERNAME:product_user}
    password: ${DB_PASSWORD:product_pass}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    com.zjsu.product: WARN


inventory-service:
  url: ${INVENTORY_SERVICE_URL:http://inventory-service:8084}