server:
  port: 8084

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:mysql://localhost:3306/inventory_db?useSSL=false&serverTimezone=UTC
    username: inventory_user
    password: inventory_pass


  jpa:
   hibernate:
     ddl-auto: update
   show-sql: true

logging:
  level:
    com.zjsu.inventory: INFO
