server:
  port: ${SERVER_PORT:8084}

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:mysql://localhost:3306/inventory_db?useSSL=false&serverTimezone=UTC
    username: inventory_user
    password: inventory_pass


  jpa:
   hibernate:
     ddl-auto: update
   show-sql: true

  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        #        namespace: dev
        #        group: COURSEHUB_GROUP
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000

logging:
  level:
    com.zjsu.inventory: INFO

# 暴露所有 Actuator 端点，特别是 /health，以便 Nacos 监控
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

